<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>

        <!-- tracking status -->
        <div ng-app="ohm-delivery">


              <form class="tracking-form" ng-controller="tracking">
                  <p>
                    <input 
                    id="tracking" 
                    type="text" 
                    ng-model="trackingId" 
                    placeholder="Enter your tracking id"
                    required
                    />
                  </p>
                  <p>
                    <!-- get tracking status on button click -->
                      <button id="formBtn" ng-click="getTrackingStatus()">Submit</button>
                  </p>
                  <p>
                    <!-- if there is an ID display tracking status -->
                      <span class="status" ng-if="trackingId" ng-model="delayStatus">{{trackingStatus}}{{delayStatus}}</span>
                  </p>
                  <p>
                    <!-- if there is an error display error -->
                      <span class="error" ng-if="!trackingStatus">{{errorMessage}}</span>
                  </p>

              <hr />
                  <!-- if there is a tracking status display dashboard -->
                      <div class="dashboard" ng-if="!!trackingStatus">
                      <!-- driver change status -->
                            <h3 >Driver Delivery Dashboard</h3>
                            <!-- select a status -->
                            <select class="selected" ng-options="item for item in items" ng-model="selection"></select>
                            <div>New Status:
                              <!-- display the chosen status -->
                              <div class="selected">{{this.selection}}</div>
                            </div>
                            <hr/>
                                  <!-- customer message -->
                                  <div ng-switch on="selection">
                                      <div ng-switch-when="changeStatus" ng-if="trackingId" >
                                      </div>
                                      <!-- if DELIVERED selected change Status-->
                                          <div ng-switch-when="DELIVERED">
                                            <button class="buttonConfirm" ng-click="sendStatus()">CONFIRM</button>
                                          </div>
                                      <!-- if REFUSED is selected display Customer Message -->
                                          <div ng-switch-when="REFUSED">
                                            <div class="settings">
                                                  <h3>Customer Message</h3>
                                                  <input
                                                  required
                                                  ng-model="message"
                                                  type="text" >
                                                  </input>
                                            </div>
                                            <!-- send new Status and Comment on button click -->
                                            <button class="buttonConfirm" ng-click="sendMessage() ; sendStatus()">SEND</button>
                                          </div>
                                </div>
                      </div>

            </form>
        </div>
    </body>
</html>