<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>

        <!-- tracking status -->
        <div ng-app="ohm-delivery">
            <form ng-controller="tracking" ng-submit="getTrackingStatus()">
                <p>
                    <input 
                    id="tracking" 
                    type="text" 
                    ng-model="trackingId" 
                    placeholder="Enter your tracking id"
                    required
                    />
                </p>
                <div>
                  <p>
                      <button id="formBtn" type="submit">Submit</button>
                  </p>
                  <p>
                      <span class="status" ng-if="trackingId">{{trackingStatus}}</span>
                  </p>
                  <p>
                      <span class="error" ng-if="!trackingStatus">{{errorMessage}}</span>
                  </p>
                </div>
                <hr />
            <form>

            <section ng-controller="changeStatus" ng-if="loaded">
                      <h3>Driver Delivery Dashboard</h3>
                      <select ng-options="item for item in items" ng-model="selection"></select>
                      <tt>Status={{this.selection}}</tt>
                      <button ng-if="this.selection === 'DELIVERED'" ng-click="sendStatus()">Confirmer</button>
                      <hr/>
                      <div ng-switch on="selection">
                          <div ng-switch-when="changeStatus" ng-if="trackingId" ></div>
                          <div ng-switch-when="REFUSED" ng-if="trackingId">
                          <!-- customer message -->
                            <div class="settings">
                                <h3>Customer reason</h3>
                                <input
                                required
                                type="text" >
                                </input>
                              <button>SEND</button>
                              <hr/>
                            </div>
                          </div>
                      </div>
            </section>
          </form>

        
        </div>

    </body>
</html>